.page-sign-in
  %form{:action => "/sign_in", :method => "post"}
    .intro
      .s2 
        %span.si 4ye
        %span Collector
      .s3 
        %span 收集和管理你的网址

    .ct
      %a.btn.weibo-auth{:href => "/auth/weibo"}
        %i.fa.fa-weibo
        %span 微博账号登录