// reset html tags

body {
  background-color:#fff;
  padding:0;margin:0;
  font-family:helvetica, arial, 微软雅黑;
  font-size:16px;
  line-height:1.5em;
  color:#333;
}

.clearfix {
  clear:both;
}

.bold {
  font-weight:bold;
}