.page-get-plugin
  .desc 
    把下面的按钮拖动到浏览器书签栏，就可以使用四叶书签了！<br/>
    Chrome 和 Firefox 浏览器都可以用。

  .button
    %a.btn.plugin{:href => get_plugin_script} 四叶书签
  .issues
    目前已知的问题：<br/><br/>
    1. 在 https:// 开头的网站不能用；<br/>
    2. 在知乎等一些对 js 加载做了特殊限制的网站不能用；<br/>
    3. 某些网站的 js 比较奇葩，会和这个插件有冲突；<br/><br/>

    所以，先试用吧。等进一步做成 chrome 插件后会好很多。