@import 'mixins';
@import 'html';
@import 'avatar';

body {
  input {
    font-family: helvetica, arial, 微软雅黑;
  }
}

.page-sign-in {
  position:fixed;
  top:0;bottom:0;
  left:0;right:0;
  padding-top:150px;
  background-color:#2A70E8;
  // height:500px;

  form {
    width:960px;height:500px;
    margin: 0 auto;
    position:relative;

    &:before {
      content: "";
      width:120px;height:120px;
      border:solid 15px rgba(white, 0.2);
      border-radius:200px;
      position:absolute;
      left:220px;bottom:70px;
    }

    &:after {
      content: "";
      width:160px;height:160px;
      border:solid 15px rgba(white, 0.6);
      border-radius:200px;
      position:absolute;
      left:280px;bottom:90px;
    }

    .intro {
      color:rgba(white, 0.9);
      font-size:64px;line-height:64px;
      position:absolute;
      top:100px;
      .s3 {
        font-size:18px;
        color:rgba(white, 0.8);
      }
    }

    .ct {
      position:absolute;
      right:50px;
      top:100px;
      padding:10px;
    }

    .ct .fields {
      margin-bottom:30px;

      .ipt {
        position:relative;
        i {
          position:absolute;
          font-size:20px;
          color:rgba(black, 0.4);
          width:24px;height:24px;
          &.fa-envelope {
            top:8px;left:16px;
          }
          &.fa-lock {
            top:9px;left:20px;
          }
        }
      }

      input.email, input.password {
        border:0 none;
        height:24px;line-height:24px;
        display:block;
        font-size:16px;
        padding:6px 10px 6px 50px;
        width:200px;
        margin-bottom:10px;
        outline: none;
        background: rgba(white, 0.9);
        box-shadow:0 1px 3px rgba(black, 0.2);
        border-radius:30px;
        &:focus {
          background:white;
        }
      }

      a.btn.submit {
        border:0 none;
        height:24px;line-height:24px;
        display:block;
        font-size:16px;
        padding:6px 10px;
        width:220px;
        outline: none;
        background: rgba(white, 0.3);
        box-sizing: content-box;
        cursor: pointer;
        color:white;
        text-align:center;
        text-decoration:none;
        box-shadow:0 1px 3px rgba(black, 0.2);
        border-radius:30px;
        padding-right:30px;
        text-shadow:0 0 5px rgba(black, 0.3);

        &:hover {
          background: rgba(white, 0.4);
        }

        i {
          margin-right:10px;
        }
      }
    }

    .desc {
      color:white;
    }
  }
}

.page-header {
  background-color:#F1F1F1;
  height:50px;
  border-bottom:dashed 1px rgba(black, 0.2);
  .page-nav {
    height:50px;line-height:50px;
    width:960px;margin:0 auto;
    .avatar {
      float:left;
      margin-top:9px;
      box-shadow:0 0 3px rgba(black, 0.15);
    }
    .name {
      float:left;
      margin-left:15px;
      margin-right:30px;
    }

    a {
      display:block;
      float:left;
      padding:0 15px;
      text-decoration:none;
      color:#666;
      &:hover, &.active{
        background-color:rgba(white, 0.6);
        color:black;
      }
    }

    a.sign-out {
      float:right;
    }
  }
}

.page-content {
  margin: 50px auto;
  padding-bottom:100px;
  width:960px;
}

.page-get-plugin {
  background-color:#FFFBE3;
  padding:30px;
  border-radius: 5px;

  .desc {
    margin-bottom:30px;
  }

  .button {
    a.btn.plugin {
      background-color:#009800;
      height:32px;line-height:32px;
      border-radius:3px;
      color:white;
      display:block;
      width:120px;
      text-align:center;
      border:solid 1px rgba(black, 0.1);
      text-shadow:0 0 1px black;
      margin-bottom:30px;
      font-size:16px;
      text-decoration:none;
    }
  }
}

.page-url-info-list {
  .total {
    color:#999;
    margin-bottom:30px;
  }

  .list {
    width:600px;
    .url-info {
      margin-bottom:30px;
      border-bottom:dashed 1px #ccc;
      padding-bottom:30px;

      a.title {
        color:#0072D6;
        text-decoration:none;
      }

      .site {
        i {font-size:12px;color:#999;margin-right:10px;}
        span {
          color:#888;
          font-size:14px;
          text-decoration:none;
          // &:hover {
          //   text-decoration:underline;
          // }
        }
      }

      .desc {
        background-color:#F9F9F9;
        border-left:solid 3px #ddd;
        border-bottom:solid 1px #EEEEEE;
        padding:10px 15px;
        margin-top:10px;margin-bottom:10px;
        font-size:14px;
      }

      .tags {
        margin-top:10px;
        font-size:14px;
        i {
          font-size:12px;
          color: #666; margin-right:5px;}
        span.tag {
          color:#666;
          margin: 0 5px;
        }
      }
    }
  }

  .paginate {
    a.page {
      display:block;
      float:left;
      width:32px;height:32px;line-height:32px;
      text-align:center;
      color:#444;
      text-decoration:none;
      background-color:#F9F9F9;
      border-radius:100px;
      margin-right:10px;
      &:hover {
        background-color:#eee;
      }

      &.current {
        background:none !important;
        color:#333;
      }
    }

    a.current {
      color:#999;
    }
  }
}

.page-url-info-show {
  .actions {
    overflow:hidden;
    margin-bottom:50px;
    a {
      display:block;
      float:left;
      width:64px;height:64px;line-height:64px;
      font-size:32px;
      text-align:center;
      text-decoration:none;
      color:#444;
      background-color:#F9F9F9;
      border-radius:100px;
      margin-right:20px;
      &:hover {
        background-color:#eee;
      }
    }

    a.delete {
      background-color:rgba(red, 0.1);
      color:#980000;
      &:hover {
        background-color:rgba(red, 0.2);
      }
    }
  }

  .url-info {
    margin-bottom:30px;
    padding-bottom:30px;
    width:600px;

    .title {
      font-size:18px;
      margin-bottom:5px;
    }

    .site {
      margin-bottom:20px;

      i {font-size:12px;color:#999;margin-right:10px;}
      span {
        color:#888;
        font-size:14px;
        text-decoration:none;
        // &:hover {
        //   text-decoration:underline;
        // }
      }
    }

    .desc {
      background-color:#F9F9F9;
      border-left:solid 3px #ddd;
      border-bottom:solid 1px #EEEEEE;
      padding:10px 15px;
      margin-top:30px;margin-bottom:30px;
      font-size:14px;
    }

    .tags {
      margin-top:10px;
      font-size:14px;
      i {
        font-size:12px;
        color: #666; margin-right:5px;}
      span.tag {
        color:#666;
        margin: 0 5px;
      }
    }

    .url, .short-url {
      a {color:#0072D6;}
      margin-bottom:10px;
    }
  }
}